.dynamic-content {          
  background-color: #f0f0f0; 
  border: 1px solid #000;    
  padding: 5px;             
  box-sizing: border-box;    
  overflow: hidden;
  position: absolute;
  top: -120px; 
  left: 0; 
  width: 100%; 
  max-width: 100%; 
  margin: 0 auto; 
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.dynamic-content:hover {
  box-shadow: 7px 7px 0px #000; 
  border-color: var(--base-color-text); 
}



@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

