@media (min-width: 768px) {
  /* Estilos específicos para pantallas medianas y más grandes (tablets y desktops) */
  .image-bottom-left-container1 {
    margin-left: 5%; /* Ajusta el margen izquierdo en pantallas más grandes */
  }

  .image-bottom-right-container1 {
    margin-right: 5%; /* Ajusta el margen derecho en pantallas más grandes */
  }
}


@media (max-width: 767px) {
  .heading1 {
    font-size: 35px;
    letter-spacing: 0.04px;
    text-align: center; 
  }

  .heading2 {
    font-size: 35px;
    letter-spacing: 0.04px;
    text-align: center; 
  }

  img.image-top-left-container1,img.image-top-right-container1,img.image-bottom-left-container1,img.image-bottom-right-container1{
    display: none;
  }

  .base-paragraph {
    font-size: 18px;
    line-height: 24px;
    text-align: center; 
  }

  button.button-second-container-landingpage {
    font-size: 24px; /* Reducir el tamaño de fuente */
    width: 80%;
    height: 15%;
  }


  h1.heading-thirdcontainer {
    line-height: normal;
    margin-top: 70px;
  }

  h1.heading-fourthcontainer {
    line-height: normal;
  }

  img.image-third-container-landingpage{
    margin-top: auto;
  }

  img.image-happy-fiveth-container-landingpage,.image-angry-fiveth-container-landingpage,.image-serious-fiveth-container-landingpage{
    display: none;
  }

  div.fourth-container-mobile{
    margin-top: -26rem;
    
  }

  .fiveth-container-landingpage{
    margin-top: 18rem;
  }

  h1.heading-fivethcontainer{
    line-height: normal;
  }
 
  /* Ajustes para el botón fijo de desplazamiento superior */
  #scrollToTopBtn {
    font-size: 20px;
    width: 40px;
    height: 40px;
    bottom: 3rem;
    right: 0.5rem;
  }

  .image-top-right-container1 {
    margin-right: 0; 
  }
  
  .image-bottom-left-container1,
  .image-bottom-right-container1,
  .image-happy-fiveth-container-landingpage,
  .image-serious-fiveth-container-landingpage,
  .image-angry-fiveth-container-landingpage {
    margin-left: 0;
    margin-right: 0;
  }

    /* Ajustes generales para contenedores en dispositivos móviles */
  .container-landingpage,
  .second-container-landingpage,
  .fourth-container,
  .sixth-container-landingpage {
    padding: 10px; /* Reduce el relleno en dispositivos móviles */
  }

  /* Ajustes para el tercer y cuarto contenedor en dispositivos móviles */
  .heading-thirdcontainer{
    font-size: 37px;
    text-align: center;
  }

  h1.heading-fourth-container{
    font-size: 37px;
    margin-top: 4rem;
  }

  h1.heading-fivethcontainer {
    line-height: normal;
    font-size: 37px;
  }

  div.sixth-container-landingpage {
    line-height: normal;
    margin-top: 2rem;
  }

  .image-third-container-landingpage,
  .image-fourth-container-landingpage {
    margin-top: 3rem;
  }

  /* Ajustes para el sexto contenedor en dispositivos móviles */
  .button-sixth-container-landingpage {
    width: 70%; /* Ancho más amplio para botón en dispositivos móviles */
  }
}


.container-landingpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--option4-color);
  border: 1px solid #020202;
  box-sizing: border-box;
  padding: 20px; /* Añade relleno para separar el contenido del borde */
 
}

.image-top-left-container1,
.image-top-right-container1,
.image-bottom-left-container1,
.image-bottom-right-container1 {
  object-fit: cover;
  box-shadow: var(--image-box-shadow);
  width: 100%; /* Ajusta el ancho al 100% para ocupar todo el espacio disponible */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  display: block; /* Cambia a 'block' para eliminar espacios innecesarios */
  margin-bottom: 3%;
  margin-top: 2%;
}

.image-top-left-container1{
  object-fit: cover;
  box-shadow: var(--image-box-shadow);
}

.image-top-right-container1{
  object-fit: contain;
  box-shadow: var(--image-box-shadow);
  flex-shrink: 0;
  margin-right: 20%;
}


.image-bottom-left-container1{
  object-fit: contain;
  box-shadow: var(--image-box-shadow);
  margin-top: 5rem;
  margin-left: 10rem;
  flex-shrink: 0;
}

.image-bottom-right-container1 {
  object-fit: contain;
  box-shadow: var(--image-box-shadow);
  margin-top: 5rem;
  margin-right: 5rem;
  flex-shrink: 0;
}

/* second container */

.second-container-landingpage, .sixth-container-landingpage {
  display: flex;
  background-color: var(--option6-color);
  border: 1px solid #9e9e9e;
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 5%;
}

.button-second-container-landingpage {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1; 
  width: 450px; 
  height: 116px;
  
}

  /* third container  */

  .heading-thirdcontainer{
  font-family: var(--heading1-font-family);
  font-size: 45px; 
  color: var(--heading-color);  
  font-weight: 300;
  font-style: italic;
  line-height: 136px;
  letter-spacing: 0.08px;
  margin-top: 15%;
}

.image-third-container-landingpage{
  box-shadow: var(--image-box-shadow);
  max-width: 100%;  
  height: auto;
  margin-top: 5rem
}

/* fourth container  */

.fourth-container{
  
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translateY(50%);
  margin-top: 5rem;
}

.heading-fourth-container{
  font-family: var(--heading1-font-family);
  font-size: 45px; 
  color: var(--heading-color);  
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.08px;
}

.image-fourth-container-landingpage {
  box-shadow: var(--image-box-shadow);
  max-width: 100%;  
  height: auto;
  margin-top: 3rem
}


.heading-fivethcontainer{
  font-family: var(--heading1-font-family);
  font-size: 45px; 
  color: var(--heading-color);  
  font-weight: 300;
  font-style: italic;
  line-height: 136px;
  letter-spacing: 0.08px;
  margin-top: 5%;
}

.image-happy-fiveth-container-landingpage{
  transform: translate(-100%,-75%)
}

.image-serious-fiveth-container-landingpage{
  transform: translate(-20%,-90%)
}

.image-angry-fiveth-container-landingpage{
  transform: translate(-115%,-150%)
}
/* sixth-container  */

.image-sixth-container-landingpage{
  box-shadow: var(--image-box-shadow);
  max-width: 100%;  
  height: auto;
}

.button-sixth-container-landingpage{
  color: #000000;
  text-align: center;
  font-family: var(--base-font-family);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03px;
  background: var(--option3-color);
  box-shadow: var(--button1-box-shadow);
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1; 
  width: 450px; 
  height: 116px;
} 
